/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Bond
*  
*  1.  Includes (fonts and supplementary stylesheets)
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ********************************/
/************** 1. Imports ********************/
/* 1.1 Normalize Import */
@import url('normalize.css');
/* 1.2 Google Font Import*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/************** 2. General Styles ********************/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sansita, Eurostyle, sans-serif;
}

/************** 3. Mobile First ********************/
@media only screen and (min-width: 760px) {
.small{
    display: none;
}
}

/************** 4. Large Screen ********************/
@media only screen and (max-width: 759px) {
.large{
    display: none
}
}