/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Bond
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ********************************/

/************** 1. Imports ********************/
/* 1.1 Normalize Import */
@import url('normalize.css');
/* 1.2 Google Font Import*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/************** 2. General Styles *****************/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
    display:flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sansita, Eurostyle, sans-serif;
}

.tile {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;

}

nav ul li a{

    color: #fff;
    text-decoration: none;
}

footer {
    margin-bottom: .5em;
    background-color: #0e89d5;
}

#site-brand {
    font-size: 1.5em;
    font-weight: 700;
}

#logo {
    font-size: 60px;
    padding: 15px;
}

#hourlyTemp li{
    padding: 5px;
    display: flex;
}

#hourlyTemp{
    overflow-x:scroll;
    overflow-y: hidden;
    list-style: none;
    display: flex;
}

#wind ul{
    list-style: none;
}

#curWeather{
    background-image: url("../images/clear.jpg");
}

#curTempSt{
    font-size: 15vw;
}

#curHL{
    display: flex;
    justify-content: center;
}

#locZEL{
    display:flex;
    font-size: 3vw;
    justify-content: center;
}

#locZEL dl{
    display:flex;
    padding: 2px;
}

#locZEL dd{
    margin-left:5px;
}

#locName {
    margin:.2em;
    font-size: 5vw;
}

#page-header{
    background-color:#0e89d5;
    display:flex;
    justify-content: center;
}

/*3.  Mobile First (styles specific to small screens)*/
nav {
    bottom: 0;
    left: 0;
    order:2;
    background-color:#0e89d5;
}



/*Header*/
/*main*/
/*Temp*/
/*Wind*/
/*Clear*/
/*Hourly Forecast*/
/*Nav*/
