/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Bond
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ********************************/

/************** 1. Imports ********************/
/* 1.1 Normalize Import */
@import url('normalize.css');
/* 1.2 Google Font Import*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/************** 2. General Styles *****************/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
    display:flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sansita, Eurostyle, sans-serif;
}

.tile {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}


nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;

}

#littleWeatherImg{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 50px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

footer {
    margin-bottom: .5em;
    background-color: #0e89d5;
}

#logo {
    font-size: 60px;
    padding: 15px;
}

#site-brand {
    font-size: 1.5em;
    font-weight: 700;
}

#wind ul{
    list-style: none;
    padding-left: 0px;
}

#wind{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('../images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
   }

.n {
    transform: rotate(0deg);
 }
 
 .ne {
    transform: rotate(45deg);
 }

 .nw {
    transform: rotate(315deg);
 }
 
 .e {
    transform: rotate(90deg);
 }
 
 .se {
    transform: rotate(135deg);
 }
 
 .s {
    transform: rotate(180deg);
 }
 
 .sw {
    transform: rotate(225deg);
 }
 
 .w {
    transform: rotate(270deg);
 }

#curWeather{
    background-size: cover;
}

#curTempSt{
    font-size: 3.5em;
}

#curTempSt p{
    margin: 0px;
}

#curHL{
    display: flex;
    justify-content: center;
    padding: 0px;
}

#curHL p{
    padding: 5px;
}

#curHighSt{
    color: red;
}

#curLowSt{
    color: blue;
}

#feelsLikep{
    padding-right: 5px;
}

#locZEL{
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: .5em;
}

#locZEL dl{
    display:flex;
    padding: 2px;
}

#curWindSt{
    position: absolute;
    top: 40%;
}

#locZEL dd{
    margin-left:5px;
}

#locZEL dl b{
    margin-left:5px;
    font-weight: 700;
}

#locName {
    margin:.2em;
    font-size: 2em;
}

#page-header{
    background-color:#0e89d5;
    display:flex;
    justify-content: flex-start;
}

#summary img{
    max-width: 50%;
    opacity: 0.5;
}

#hourlyTemp li{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap; */
    padding-right: 8px;
    flex: 0 0 auto;
    
}

#hourlyTemp{
    overflow-x:auto;
    overflow-y: hidden;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#summary{
    display: flex;
    flex-direction: column;
}

#summary img{
    align-self: center;
    width: 50%;
}

.hourlyTempSeparator{
    padding-left: 10px;
    padding-right: 10px;
}

.hourlyTimeTempSpacer{
    padding-right: 5px;
}

.hide{
    display: none;
}

/***************************************************
*  3. Mobile First Styles
****************************************************/
nav {
    bottom: 0;
    left: 0;
    order:2;
    background-color:#0e89d5;
}

#locZEL{
    font-size: .5em;
}



#tileStructure{
    display: flex;
    flex-direction: column;
}

.clear{
    background-image: url("../images/optimizedimages/clear-small.jpg");
}

.cloud{
    background-image: url("../images/optimizedimages/clouds-small.jpg");
}

.fog{
    background-image: url("../images/optimizedimages/fog-small.jpg");
}

.snow{
    background-image: url("../images/optimizedimages/snow-small.jpg");
}

.rain{
    background-image: url("../images/optimizedimages/rain-small.jpg");
}


/***************************************************
*  4.  Large Screen Styles (Media Queries begin here)
****************************************************/
@media screen and (min-width: 760px){
    #page-Header{
        font-size: 5em;
    }

    #curWeather {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    #curWeather section{
      min-width: 33%;
    }

    nav{
        order: 0;
    }

    #locZEL{
        justify-content: flex-start;
        font-size: 1.2em;
    }

    .clear{
        background-image: url("../images/optimizedimages/clear-large.jpg");
    }
    
    .cloud{
        background-image: url("../images/optimizedimages/clouds-large.jpg");
    }
    
    .fog{
        background-image: url("../images/optimizedimages/fog-large.jpg");
    }
    
    .snow{
        background-image: url("../images/optimizedimages/snow-large.jpg");
    }
    
    .rain{
        background-image: url("../images/optimizedimages/rain-large.jpg");
    }
    

}
