/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Bond
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ********************************/

/************** 1. Imports ********************/
/* 1.1 Normalize Import */
@import url('normalize.css');
/* 1.2 Google Font Import*/
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/************** 2. General Styles *****************/

/*All*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sansita, Eurostyle, sans-serif;
}

.tile {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
}

footer {
    margin-bottom: 2em;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}

#logo {
    font-size: 50px;
}

#hourlyTemp{
    overflow-x:scroll;
    display: inline-block;
}

#curWeather{
    background-image: url("./weather/images/clear.jpg")
}

#locInfo dl{
    display: inline-block;
}

/*Header*/
/*main*/
/*Temp*/
/*Wind*/
/*Clear*/
/*Hourly Forecast*/
/*Nav*/
