body{
    background-color:rgb(172, 241, 172);
}

/* img{
    max-width: 50%;
    height: auto;
    float: right;
} */

h1, h2, h3{
    text-align: center;
}

#footer{
    text-align: center;
}

#wrapper{

}

.parct{


}

.flex-container{
    display: flex;    
}

.flex-container li{
    padding: 20px;
    list-style-type: none;
}

.identity{

}

