body{
    background-color:rgb(172, 241, 172);
}

/* img{
    max-width: 50%;
    height: auto;
} */

#footer li{
    display: inline;
}

#wrapper{

}

.parct{

}

.flex-container{
    
}

#purpose{

}

#targetAudience{

}

#persona{
    
}
