/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Bond
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ********************************/

/************** 1. Imports ********************/
/* 1.1 Normalize Import */
@import url('normalize.css');
/* 1.2 Google Font Import*/
/*@import url('');
/*1.3 Variables*/
$body: white;
$primary: #2699FB;
$bodyAccent: #B1B1B1;

/************** 2. General/Mobile Styles *****************/
body{
    padding: 0;
    margin: 0;
    height: auto;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    height: 2px;
    width: 75%;
    color: white;
    background-color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

#projectHr{
    color: $primary;
    background-color: $primary;
}

nav{
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6%;
    padding-left: 6%;
    height: 70px;
    
}

a{
    text-decoration: none;

}

nav > h1, nav > p{
    margin: 0px;
}

header, article{
    background-color: $bodyAccent;
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article{
    margin: 4%;
}

article:hover{
    background-color: black;
}



main{
    background-color: $body;
}

footer{
    background-color: $primary;
    padding: 30px;
}

#hamburgerMenu{
    height: 40px;
    width: 40px;
}

#projectHeader{
    color: $primary;
    margin-bottom: 0;
}

// Full Desktop Site Styling
@media screen and (min-width: 500px){
    footer{
        padding-right: 10%;
        padding-left: 10%;
    } 

    article{
        width: 40%;
        margin-top: 2%;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }

    #mainWrapper{
        display: flex;
        justify-content: center;
    }
    header{
        height: 400px;
    }

    #projectHeader{
        margin-bottom: 0;
    }

    #projectHr{
        width: 50%;
    }

}

