/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Bond
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ********************************/

/************** 1. Imports ********************/
/* 1.1 Normalize Import */
@import url('normalize.css');
/* 1.2 Google Font Import*/
/*@import url('');
/*1.3 Variables*/
$body: white;
$primary: #8b0394;
$bodyAccent: #B1B1B1;
$secondary: #875053;

/************** 2. General/Mobile Styles *****************/
body{
    padding: 0;
    margin: 0;
    height: auto;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    height: 2px;
    width: 75%;
    color: white;
    background-color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

#projectHr{
    color: $primary;
    background-color: $primary;
}

nav{
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
}

a{
    text-decoration: none;

}

nav > h1, nav > p{
    margin: 0px;
}

header, article{
    background-color: $bodyAccent;
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    background-image: linear-gradient($primary, white);
    height: 800px;
}

article{
    margin: 4%;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

article:hover{
    animation-name: changeBackground;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
@keyframes changeBackground{
    100%{
        background-color: $secondary;
        color: white;
    }
}

main{
    background-color: $body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
}

#hamburgerMenu{
    height: 40px;
    width: 40px;
}

#projectHeader{
    color: $primary;
    margin-bottom: 0;
}

a > article{
    color: white;
    margin: 10%;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.primaryMe{
    background-color: #875053;
    padding: 30px;

}

.accentMe{
    background-color: #875053;
    
    // background-color: $bodyAccent;
    color: white;
    padding: 30px;
}

// #heroTitle{
//     display: inline;
//     border: 1px solid gray;
// }

// Medium Desktop Site Styling
@media screen and (min-width: 500px){
    body{
        font-size: 1.3em;
    }
    footer{
        padding-right: 25%;
        padding-left: 25%;
    }

    nav{
        display: flex;
        justify-content: space-around;
    }

    #projectHeader{
        margin-bottom: 0;
    }

    #projectHr{
        width: 50%;
    }

    #articleContainer{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .articleWrapper{
        margin: 0;
    }

    .articleItem{
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    article{
        margin: auto;
        min-width: 500px;
        min-height: 500px;
    }

    header{
        height: 1100px;
    }

}