/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Bond
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ********************************/

/************** 1. Imports ********************/
/* 1.1 Normalize Import */
@import url('normalize.css');

/* 1.2 Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*2. General Stylings*/
* {
    font-family: 'Open Sans', sans-serif;
}

input{
    border: .5px solid rgb(198, 198, 198);
}

input:focus{
    outline-color: rgb(125, 137, 132);
}

body {
    text-align: center;
    margin: auto;
    background-color: rgb(252, 251, 235);
}

header{
    background-color: maroon;
    color: white;
    width: 100%;
}


footer {
    background-color: rgb(137, 97, 97);
    color: white;
    //!This will position the footer and the bottom middle of the page.
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

button{
    margin: 20px;
    border: none;
    background-color:#F24236;
    color: white;
    border-radius: 5px;
    height: 35px;
}

button:hover{
    background-color: rgb(247, 132, 124);
    color: black;
    
}

#applicationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#mainWrapper{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

ul{
    list-style-type: none;
    padding: 0;
}

#quaService{
    width: 40px;
}