@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

#primaryTheme {
    background-color: maroon;
    color: white;
    margin-bottom: 0px;
    font-family: 'MedievalSharp', cursive;
}

tbody {
    height: 300px;
    display: inline-block;
    overflow-y: scroll;
    width: 100%;
}

tr {
    display: grid;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(148, 118, 118);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.titleDisp {
    font-family: 'MedievalSharp', cursive;
    padding: 15px;
}

footer {
    padding: 15px;
}

#wellAdjustment {
    margin-bottom: 0px;
}

#encounterDisp {
    background-color: rgb(148, 118, 118);
}

.buttonSpacing {
    margin-top: 15px;
}

.formItem {
    padding-top: 5px;
    padding-bottom: 10px;
}

.dkTitleDisplay {
    color: white;
}

#roster li:nth-child(1) {
    background-color: maroon;
    color: white;
    border: none;
}

.boxLoading{
    font-size: 100px;
}


#roster li {
    /* This was the AC and HP alignment fix */
    display: grid;
    grid-template-columns: 24% 25% 24% 24% 3%;
}

.closeItem:hover {
    cursor: pointer;
}

#tableStyle {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button a {
    color: white;
}

td {
    background-color: white;
    cursor: pointer;
}

.activeMonsterItem,
td:hover {
    background-color: rgb(148, 118, 118);
    color: white;
}

th {
    background-color: maroon;
    color: grey;
    text-align: center !important;
}

.searchSymbol {
    color: white;
    cursor: pointer;
    padding-left: 5px;
}

input {
    padding-left: 5px;
}

@media only screen and (max-width: 485px) {
    #searchSYM {
        display: none;
    }
}

header h1 {
    margin: auto;

}
