@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

#primaryTheme{
background-color: maroon;
color: white;
margin-bottom: 0px;
font-family: 'MedievalSharp', cursive;
}

tbody{
    height: 300px;
    display: block;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: maroon; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

.titleDisp{
    font-family: 'MedievalSharp', cursive;
    padding: 15px;
}

footer{
    padding: 15px;
}

#wellAdjustment{
    margin-bottom: 0px;
    /* background-image: url("d20.JPG"); */
   
}

#encounterDisp{
    background-color: rgb(148, 118, 118);
}

.buttonSpacing{
    margin-top: 15px;
}

.formItem{
    padding-top: 5px;
    padding-bottom: 10px;
}

.dkTitleDisplay{
    color: white;
}

#roster li:nth-child(1){
    background-color: maroon;
    color: white;
    border: none;
}


#roster li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeItem:hover{
    cursor: pointer;
}

#tableStyle{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button a{
    color: white;
}

td{
    background-color: white;
    cursor: pointer;
}

.activeMonsterItem, td:hover{
    background-color: rgb(148, 118, 118);
    color: white; 
}

th{
    background-color: maroon;
    color: grey;
    text-align: center !important;
}

.searchSymbol{
    color: white;
    cursor: pointer;
    padding-left: 5px;
}

input{
    padding-left: 5px;    
}

@media only screen and (max-width: 485px) {
    #searchSYM {
      display: none;
    }
}