/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Bond
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ********************************/

/************** 1. Imports ********************/
/* 1.2 Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

/* 2. General Stying*/

header{
    background-color: #6495ED;
    color:  #FAEBD7;
}

main{
    background-color: #FAEBD7;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

