@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$byui-blue: #0076b6; 
// $byui-blue: #056cb6; Checked this via inspection tool and this color is not used?

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0px;
  background-color: $light-gray;
}

img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header{
  background-color: $byui-blue;
  height: 60px;
}

h1{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin: 0px;
  font-family: 'BYUI Open Sans';
  text-align: left;
  font-weight: 300;
  font-size: 20px;

}

.site-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 2.5em;
  padding-right: 15px;
  padding-top: 8px;
  form{
    display: none;
  }
}

.site-banner__right a{
  color: white;
}

.icon-byui-logo{
  color: white;
  background-color: $body-font;
  height: auto;
  width: 100%;
  padding: 9.5px;
}

#searchH{
  display: none;
}

a{
  
  text-decoration: none;
}

main{
  border-top: .5px solid $body-font; 
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

footer{
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}


//There should be three media queries @1200, @992, @769, @574
@media only screen and (max-width: 574px) {
  main{
    padding: 15px;
  }
}

@media only screen and (max-width: 769px) {
  
}

@media only screen and (max-width: 992px) {
  
}

@media only screen and (max-width: 1200px) {
  
}