@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$byui-blue: #0076b6; 
// $byui-blue: #056cb6; Checked this via inspection tool and this color is not used?

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0px;
  background-color: $light-gray;
  font-family: 'BYUI Open Sans';
  font-size: .916em;

}

img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header{
  background-color: $byui-blue;
  height: 60px;
}

h1{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  margin: 0px;
  font-family: 'BYUI Open Sans';
  text-align: left;
  font-weight: 300;
  font-size: 20px;
}

h2{
  font-weight: 400;
}

.site-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 2.5em;
  padding-right: 15px;
  padding-top: 8px;
  form{
    display: none;
  }
}

.site-banner__right a{
  color: white;
}

.icon-byui-logo{
  color: white;
  background-color: $body-font;
  height: auto;
  width: 100%;
  padding: 9.5px;
}

#searchH{
  display: none;
}

a{
  
  text-decoration: none;
}

main{
  border-top: .5px solid $body-font; 
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

footer{
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.secondaryPhotos_item{
  color: $byui-blue;
  border: 1px solid $med-gray;

  p{
  border: 1px solid $med-gray;
  padding: 12px 6px;
  margin: 0px;
  }
}

#information{
  background-color: $light-gray;
  border-radius: 4px;
  border: 1px solid $med-gray;
  padding: 10px 18px;
  margin-bottom: 36px;
  margin-top: 36px;
  height: 34px;
  width: 440px;
  display: flex;
  align-items: center;
  
  p{
    margin: 0px;
    font-family: arial;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

ol{
  padding: 0;

li{
  list-style-type: none;
}
}

h2, h3{
  margin: 0px;
}

//Resources Component
#resources{
  margin-bottom: 36px;
  height: 268px;
  width: 440px;
  h2{
    background-color: $dark-gray;
    color: white;
    padding: 10px 18px;
  }

  li{
    border: 1px solid $med-gray;
    background-color: $light-gray;
    color: $byui-blue;
    padding: 8px 20px;
  }

  ol{
    margin: 0px;
  }
}

//Dates Component
#dates{
  margin-bottom: 36px;
  height: 217.6px;
  width: 440.4px;
  h2{
    background-color: $byui-blue;
    color: white;
    padding: 10px 18px;
  }

  li{
    border-bottom: 1px solid $med-gray;
    background-color: white;
    color: $byui-blue;
    padding: 8px 20px;

    span{
      padding-right: 25px;
      padding-left: 50px;
    }
  }

  ol{
    margin: 0px;
  }
}

//Newsroom components
#comp4_Newsroom{
  height: 610px;
  width: 440.4px;
  h2{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 24px;
  }

  h3{
    color: $byui-blue;
  }

  .newsItem{
    border-top: 1px solid $med-gray;
  }

  .news_date{
    font-weight: bold;
  }

  .news_description{
    color: $med-gray;
  }

  button{
    float: right;
    color: white;
    border: 1px solid $byui-blue;
    border-radius: 4px;
    background-color: $byui-blue;
    padding: 6px 24px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 700;
  }
}

//University Component
#universityMessage{
  border: 1px solid $dark-gray;
  border-radius: 4px;
  height: 419.087px;
  width: 440.4px;
  h2{
    border-bottom: 1px solid $dark-gray;
    background-color: $light-gray;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
  }

  img{
    height: 371px;
    width: 440px;
  }
}

//Photo Gallery
#primaryPhoto{
  height: 334px;
  width: 440px;
}

.secondaryPhotos_item {
  margin-top: 36px;

img{
  height: 310px;
  width: 440px;
}
}


//There should be three media queries @1200, @992, @769, @574
@media only screen and (max-width: 574px) {
  main{
    padding: 15px;
  }
}

@media only screen and (max-width: 769px) {
  
}

@media only screen and (max-width: 992px) {
  
}

@media only screen and (max-width: 1200px) {
  
}