/*
*Variables
*/
/*
*Imports
*/
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
/*
*General Stylings
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: white;
}

nav {
  background-color: #2699fb;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
nav #navWrapperLeft svg {
  height: 50%;
  padding-top: 12px;
}
nav #navWrapperRight svg {
  height: 45px;
  width: 25px;
  padding-top: 4px;
}
nav #navTitle {
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 30px;
  padding-left: 20px;
}
nav #navWrapperLeft {
  padding-left: 30px;
}
nav #navWrapperRight {
  padding-right: 30px;
}

header {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  padding: 10px 16px;
  background-color: #ebf6ff;
  color: black;
}

.search-container {
  display: flex;
}
.search-container button {
  background-color: #2699fb;
  border: none;
}
.search-container #createButton {
  border-radius: 50%;
  color: white;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .noteDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

footer {
  color: #cecece;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  bottom: 1.5vh;
  width: 100%;
}

/*
*Mobile Stylings
*/
#asideMainWrapper {
  display: flex;
  flex-direction: column;
}

#asideWrapper {
  order: 2;
}

main {
  background-color: white;
  color: #2699fb;
}

.search-container {
  height: 70px;
  background-color: #FFE694;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.search-container form {
  width: 68%;
  padding-left: 15px;
}
.search-container input {
  width: 75%;
  margin-left: 9px;
  padding-left: 10px;
}
.search-container input,
.search-container button {
  height: 40px;
  border: none;
  float: left;
}
.search-container button {
  width: 40px;
  height: 40px;
}
.search-container #createButton {
  margin-right: 25px;
}

@media only screen and (max-width: 899px) {
  #noteListContainer {
    display: none;
  }
}
/*
*Full Web Stylings
*/
@media only screen and (min-width: 900px) {
  #asideMainWrapper {
    display: flex;
    flex-direction: row;
  }

  #asideWrapper {
    order: 0;
  }

  .search-container {
    height: 70px;
    background-color: #FFE694;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .search-container form {
    width: 68%;
    padding-left: 15px;
  }
  .search-container input {
    width: 75%;
    margin-left: 9px;
    padding-left: 10px;
  }
  .search-container input,
.search-container button {
    height: 40px;
    border: none;
    float: left;
  }
  .search-container button {
    width: 40px;
    height: 40px;
  }
  .search-container #createButton {
    margin-right: 25px;
  }
}

/*# sourceMappingURL=workshop.css.map */
