/*
*Variables
*/
$bloo: #2699fb;
$blooOrange: #FFE694;

/*
*Imports
*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

/*
*General Stylings
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: white;
}

// Nav Component
nav {
    background-color: $bloo;
    height: 50px;
    display: flex;
    justify-content: space-between;

    #navWrapperLeft svg {
        height: 50%;
        padding-top: 12px;
    }

    #navWrapperRight svg {
        height: 45px;
        width: 25px;
        padding-top: 4px;
    }


    #navTitle {
        font-family: 'Permanent Marker', cursive;
        color: white;
        font-size: 30px;
        padding-left: 20px;
    }

    #navWrapperLeft {
        padding-left: 30px;
    }

    #navWrapperRight {
        padding-right: 30px;
    }
}


//Title of Page Component
header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    padding: 10px 16px;
    background-color: #ebf6ff;
    color: black;
}

// .sticky {
//     position: fixed;
//     top: 0;
//     width: 100%;
// }


//Sidebar Component
// aside{
//     background-color: $blooOrange;
//     color: $bloo;
//     max-width: 38.91%;//747 px
//     max-height: 100%;
//     #noteListContainer{
//         height: 626px;
//         overflow-y: scroll;
//     }

.search-container {

    display: flex;

    button {
        background-color: $bloo;
        border: none;
    }

    #createButton {
        border-radius: 50%;
        color: white;
        font-weight: 600;
    }
}

//     input{
//         max-width: 497px;
//         height:auto; 
//         border: none;
//     }

//     .noteListItem{
//         background-color: white;
//         max-width: 500px;
//         max-height: 200px;
//         display: flex;
//         flex-direction: column;
//         margin-bottom: 20px;
//         overflow: hidden;
//     }

//     .noteItemHeader{
//         display: flex;
//         flex-wrap: wrap;
//         align-items: center;
//         margin-top: 15px;
//         margin-bottom: 15px;
//         h4{
//             margin:0px;
//         }
//     }

// }

//Note Component
main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .noteDisplay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10%;
    }
}

// Footer Component
footer {
    color: rgb(206, 206, 206);
    text-align: center;
    font-size: .8em;
    position: absolute;
    bottom: 1.5vh;
    width: 100%;
}

// // Center Display Component
// #asideMainWrapper{
//     display:flex;
// }

/*
*Mobile Stylings
*/
#asideMainWrapper {
    display: flex;
    flex-direction: column;
}

#asideWrapper {
    order: 2;
}

main {
    background-color: white;
    // background-color: rgb(236, 236, 236);
    color: $bloo;
}

//Search Component
.search-container {
    height: 70px;
    background-color: $blooOrange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    form {
        width: 68%;
        padding-left: 15px;
    }

    input {
        width: 75%;
        margin-left: 9px;
        padding-left: 10px;
    }

    input,
    button {
        height: 40px;
        border: none;
        float: left;
    }

    button {
        width: 40px;
        height: 40px;
    }

    #createButton {
        margin-right: 25px;
    }
}

@media only screen and (max-width: 899px) { 
#noteListContainer {
    display: none;
}
}

/*
*Full Web Stylings
*/
@media only screen and (min-width: 900px) {
    #asideMainWrapper{
        display: flex;
        flex-direction: row;
    }

    #asideWrapper{
        order: 0;
    }

    .search-container {
        height: 70px;
        background-color: $blooOrange;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        bottom: 0;
        width: 100%;
    
        form {
            width: 68%;
            padding-left: 15px;
        }
    
        input {
            width: 75%;
            margin-left: 9px;
            padding-left: 10px;
        }
    
        input,
        button {
            height: 40px;
            border: none;
            float: left;
        }
    
        button {
            width: 40px;
            height: 40px;
        }
    
        #createButton {
            margin-right: 25px;
        }
    }
}
