/*
*Variables
*/
$bloo: #2699fb;
$blooOrange: #FFE694;

/*
*Imports
*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

/*
*General Stylings
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: white;
}

//Nav Component
nav{
    background-color: $bloo;
    height: 45px;
    display: flex;
    justify-content: space-between;

    #navTitle{
        font-family: 'Permanent Marker', cursive;
        color: white;
        font-size: 30px;
        padding-left: 20px;
    } 

    #navWrapperLeft{
        padding-left: 30px;
    }

    #navWrapperRight{
        padding-right: 30px;
    }
}


//Header Title Component
header{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}


//Sidebar Component
aside{
    background-color: $blooOrange;
    color: $bloo;
    max-width: 38.91%;//747 px
    max-height: 100%;
    #noteListContainer{
        height: 626px;
        overflow-y: scroll;
    }

    .search-container{
        display: flex;
        button{
            background-color: $bloo;
            border: none;   
        }

        #createButton{
            border-radius: 50%;
            color: white;
            font-weight: 600;
        }
    }

    input{
        max-width: 497px;
        height:auto; 
        border: none;
    }
    
    .noteListItem{
        background-color: white;
        max-width: 500px;
        max-height: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .noteItemHeader{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        h4{
            margin:0px;
        }
    }
    
}

//Note Component
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .noteDisplay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10%; 
    }
}

//Footer Component
footer{
    color:rgb(206, 206, 206);
    text-align: center;
    font-size: .8em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
}
// Center Display Component
#asideMainWrapper{
    display:flex;
}

/*
*Mobile Stylings
*/


/*
*Full Web Stylings
*/