/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Garrett Bond
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ********************************/

/************** 1. Imports ********************/
/* 1.1 Normalize Import */
@import url('normalize.css');
/* 1.2 Google Fonts*/

/* 2. General Stying*/
*{
    font-family: 'Franklin Gothic Medium';
}

body {
    background-image: url(../images/site/background.jpg);
    background-repeat: no-repeat;
    padding: 2%;
}

header{
    color: #de2226;
}

footer{
    text-align: center;
    font-size: .5em;
    width: 100%;
}

hr{
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

#feature-Promo{
    background-image: url(../images/site/feature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   justify-content: flex-end;
    
}

.recipe-image{
    display: block;
    background-color: #b5b5b5;
    margin: auto;
}

.recipe-links{
   color: #0000ee;
}

#feature-Promo-Info{
  list-style: none;
  color: #990033;
  height: 175px;
  padding-right: 1%;
  
  width: 159px;
  height: 150px;
  /* padding-left: 30px; */
  font-size: .8em;
  background-color: rgba(188, 229, 243, 0.7);


}
.recipe-image-container{
    background-color: #b5b5b5;
    
}

#featured-recipes-list li{
    width: 40%;
}
#featured-recipes-list{
    padding-left: 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 200px;
    max-width: 500px;
    list-style-type: none;
    margin-left: -30px;
    justify-content: space-around;
}



#feature-Promo-Info h2{
    margin-bottom: 0px;
    font-size: 1.7em;
}

#feature-promo-list{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}

#main-wrapper{
    background-color:#ffffff;
}

#navBarList{
    list-style-type: none;
    display: flex;
    background-color:#de2226;
    padding: 3%;
    color: #ffffff;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: space-evenly;
    
}

#navBarList li{
    font-weight: 600;
    font-size: 1em;
   
}

#site-logo{
    display: flex;
    justify-content: flex-start;
    padding: 4%;
    
}

#logo{
    width: 50%;
}

#acme-rocket-list{
    padding-left: 0px;
    padding-right: 30px;
}

#content-header{
    margin: 2%;
    font-size: 2em;
    font-weight: 900;
}

#fair-use{
    margin-bottom: 0%;
    margin-top: 2%;
    padding-bottom: 3%;
    padding-left: 6px;
    padding-right: 6px;
}

#copy-right{
    margin-top: 2%;
    margin-bottom: 2%;
}

#main-wrapper{
    background-color:#ffffff;
    
}

a{
    text-decoration: none;
    color: #ffffff;
}

#css-contentInfo{
    padding-left: 5px;
    padding-right: 5px;
}

#css-price{
    color: #de2226;
}

#css-image{
    height: 260px;
    margin: auto;
    display: block;
}

p{
    font-family: Arial, sans-serif
}

#css-price{
    font-size: 3em;
}

#content-header{
    padding-left: 10px;
}

#home-content h2 {
    font-size: 2em;
    margin-left: -25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#actionbtn{
    max-width: 80%;
    padding-top: 5px;

}

/* 3. Mobile First*/
#home-content{
    display: flex;
    flex-direction: column-reverse;
    padding-left: 30px;
}



/* 4. Large Screen Styles (Media Queries begin here)*/
@media screen and (min-width: 500px){

    body{
        background-size: cover;
    }
    footer{
        font-size: .8em;
    }

    #site-logo{
        width: 45%;
    }

    #feature-Promo-Info h2{
        margin-bottom: 0px;
        font-size: 3em;
    }

    #home-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #navBarList{
        justify-content: flex-start;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #feature-Promo-Info h2{
        
        font-size: 3em;
    }

    #feature-Promo{
        justify-content: flex-start;
    }

    #navBarList li{
        padding-right: 30px;
        font-size: 1.8em;
    }

    #feature-Promo-Info{
        list-style: none;
        color: #990033;
        height: 400px;
        width: 50%;
        margin-left: 59%;
        background-color: rgba(188, 229, 243, 0);
    }

    #content-header{
        font-size: 3em;
        margin: 5px;
    }

    /* #css-contentInfo{
        padding-left: 5px;
        padding-right: 5px;
    } */
    
    #css-image{
        height: 260px;
        margin: auto;
        display: block;
    }

    #css-content{
        display: flex;
        padding-right: 140px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    #css-contentInfo{
        width: 50%;
        padding-left: 30px;
        font-weight: 400;

    }

}